:root,
.theme-dark,
.theme-light {
  /* Main */
  --background-primary: transparent;
  --background-secondary: transparent;
  --background-secondary-alt: transparent;
  --background-tertiary: transparent;
  /* Scrollbars */
  --scrollbar-auto-thumb: #000d;
  --scrollbar-auto-track: #0007;
  /* User popout */
  --profile-body-background-color: transparent;

  /* Misc */
  --modal-background: transparent;
  --modal-footer-background: transparent;
}

/* Background image */
.appMount-2yBXZl {
  background-size: cover !important;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    /*Change the alpha of both to dim the background */
      url("https://wallpaperaccess.com/full/260168.jpg") no-repeat center; /*Change the url to any image you want */
}

/* Discord why are you like this */
/* Stuff that doesn't get its color from a variable */
.chat-2ZfjoI>*, .chat-2ZfjoI>*>*, /* Stuff that "overwrites" the chat window such as server Q&A / Community search */
.message-G6O-Wv /* delete message modal message preview */
{
  background: transparent !important;
}

/* User popout roles */
.role-2TIOKu {
  border: 1px solid;
  border-color: hsla(0, 0%, 100%, 0.2) !important;
}

/* Dim stuff */
.layer-2BGhQ8:not(.disabledPointerEvents-cGr1My)>*>*, /* Popouts */
  .contentColumn-1C7as6, .background-2avFV1, /* Bunch of background */
  .connectionHeader-Ixbb1s, .connectionOptionsWrapper-3aVWcp, .integrationsWrapper-1V-5L9, .metadataContainer-35U-On, .connectContainer-1hylYM, /* Connection menu */
  .replugged-quickcss-wrapper, /* Quick CSS */
  .scrollableContainer-15eg7h, .autocomplete-3NRXG8, /* Message area */
  .expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi), /* Folder background */
  .grid-1aWVsE, .wrapper-1FP9YQ, /* Embeds */
  .scrollbarGhostHairline-2LpzZ9, .inline /* Code blocks */ {
  background-color: #0007 !important;
}
